
body {
    background-image: url('../images/concrete-texture.png');
    border: 0;
    margin: 0;
    padding: 0;
}

.all{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.ribbon {
    height: 70px;
    line-height: 70px;
    background: white;
    border-bottom: 3px solid lightgray;
}

main {
    /* width: 960px; */
    margin: 0 auto;
}

.headcontainer {
    /* width: 960px; */
    margin: 0 auto;
}

.headstone {
    float: left;
    color: white;
    padding: 0 20px 0 20px;
    margin: 0;
    background-color: #4aaaa5;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #cccccc;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

section {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.h1abt {
    border-bottom: solid 2px #dddddd;
    padding-bottom: 25px;
}

.selfie {
    height: 200px;
    width: 250px;
    float: left;
    margin: 0 20px 10px 0;
}

.pgabout {
    line-height: 1.8;
    margin-top: -5px;
}

.inlink {
     text-decoration: none;
     color: #777777;
}
footer {
    height: 55px;
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
}

.copyrt {
    position: relative;
    bottom: -25px;
    font-size: 75%;
}

.foliotainer {
    position: relative;
} 

.proj {
    height: 200px;
    width: 250px;
    display: inline-block;
    position: relative;
    /* top: 200px; */
    /* border: 1px solid red; */
}

.projlnk {
    height: 200px;
    width: 250px;
    /* margin: 0 20px 10px 0; */
}

.projlabel {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    bottom: 10px;
    line-height: 40px;
    left: 0;
    right: 0;
    margin: 0;
    /* z-index: 1; */
    /* display: none; */
}

.projlabel a {
    color: #ffffff;
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=textarea],
textarea {
    color: #777777;
    width: 100%;
    border: 1px solid #777777;
}

input[type=button], 
input[type=submit], 
input[type=reset] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}

/* Style Changes for responsive @media queries */
/* My basic portfolio honestly does not have enough
   content to support 3 screensize breaks and will 
   only lead to confusion (for me).  Best for me is
   to break on the medium size and stack elements at
   that size (on down).  Nothing new to learn from 
   the added complexity at this point.  I would need
   to add elements to the portfolio which we've already
   built numerous times and is not the real point of
   this homework.  Anyway, media-query is pretty cool!
   I understand the specificity of first->last cascade,
   and the pitfalls that could ensue if multiple queries
   are used the order would be critical as well as whether
   min or max screen width is specified.
 */

@media screen and (max-width: 768px) {

.all {
    width: 100%;
}
.headstone {
    float: none;
    /* width: 100%; */
}

.main {
    width: 100%;
}
.selfie {
    float: none;
}

.pgabout {
    float: none;
    /* width: 400px; */
}

} /* End media-screen-max-768px */



@media screen and (max-width: 980px) {

nav {
    float: none;
    /* width: 100%; */
}

} /* End media-screen-max-980px */



@media screen and (min-width: 980px) {
    
main {
    max-width: 960px;
    margin: 0 auto;
}

.headcontainer {
    max-width: 960px; 
    margin: 0 auto;
}

} /* End media-screen-min-980px */